@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Reviewer2.Services.CRUD.ApplicationUser
@using Reviewer2.Services.DTOs.ApplicationUser

@inject IApplicationUserService UserService
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.UserName"
                           id="Input.UserName"
                           class="form-control"
                           disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstName"
                           id="Input.FirstName"
                           class="form-control"
                           placeholder="Enter your first name" />
                <label for="Input.FirstName">First name</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName"
                           id="Input.LastName"
                           class="form-control"
                           placeholder="Enter your last name" />
                <label for="Input.LastName">Last name</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" id="Input.PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                <label for="Input.PhoneNumber" class="form-label">Phone number</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private string? _userId;
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        var profile = await UserService.GetProfileAsync(HttpContext.User);

        if (profile is null)
        {
            RedirectManager.RedirectToInvalidUser(null!, HttpContext);
            return;
        }
        
        _userId = profile.UserId;

        Input.UserName = profile.UserName;
        Input.FirstName = profile.FirstName;
        Input.LastName = profile.LastName;
        Input.PhoneNumber = profile.PhoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        if (_userId is null)
            return;

        var result = await UserService.UpdateProfileAsync(
            new UpdateUserProfileRequest(
                _userId,
                Input.UserName,
                Input.FirstName,
                Input.LastName,
                Input.PhoneNumber
            ));

        if (!result.Succeeded)
        {
            RedirectManager.RedirectToCurrentPageWithStatus(
                $"Error: {result.ErrorMessage}",
                HttpContext);
            return;
        }

        RedirectManager.RedirectToCurrentPageWithStatus(
            "Your profile has been updated",
            HttpContext);
    }
    
    private sealed class InputModel
    {
        [Required]
        public string UserName { get; set; } = null!;

        public string? FirstName { get; set; }

        public string? LastName { get; set; }

        [Phone]
        public string? PhoneNumber { get; set; }
    }
}
