@page "/Account/ConfirmEmail"

@using Reviewer2.Services.CRUD.ApplicationUser

@inject IApplicationUserService ApplicationUserService
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@_statusMessage" />

@code {
    private string? _statusMessage;

    [SupplyParameterFromQuery]
    private Guid? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || string.IsNullOrWhiteSpace(Code))
        {
            RedirectManager.RedirectTo("Account/Login");
            return;
        }

        var result = await ApplicationUserService
            .ConfirmEmailAsync(UserId.Value, Code);

        _statusMessage = result.Succeeded
            ? "Thank you for confirming your email."
            : result.ErrorMessage;
    }
}