@page "/Account/LoginWithRecoveryCode"

@using System.ComponentModel.DataAnnotations
@using Reviewer2.Services.CRUD.ApplicationUser
@using Reviewer2.Services.DTOs.ApplicationUser

@inject IApplicationUserService ApplicationUserService
@inject IdentityRedirectManager RedirectManager

<PageTitle>Recovery code verification</PageTitle>

<h1>Recovery code verification</h1>
<hr />
<StatusMessage Message="@_message" />
<p>
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.RecoveryCode" id="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="RecoveryCode" />
                <label for="Input.RecoveryCode" class="form-label">Recovery Code</label>
                <ValidationMessage For="() => Input.RecoveryCode" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </EditForm>
    </div>
</div>

@code {
    private string? _message;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        var user = await ApplicationUserService.GetPendingTwoFactorUserAsync();

        if (user is null)
        {
            throw new InvalidOperationException(
                "Unable to load two-factor authentication user.");
        }
    }


    private async Task OnValidSubmitAsync()
    {
        var result = await ApplicationUserService
            .SignInWithRecoveryCodeAsync(Input.RecoveryCode);

        switch (result.Outcome)
        {
            case TwoFactorSignInOutcome.Success:
                RedirectManager.RedirectTo(ReturnUrl);
                break;

            case TwoFactorSignInOutcome.LockedOut:
                RedirectManager.RedirectTo("Account/Lockout");
                break;

            case TwoFactorSignInOutcome.InvalidCode:
                _message = $"Error: {result.ErrorMessage}";
                break;
        }
    } 
    
    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Text)]
        [Display(Name = "Recovery Code")]
        public string RecoveryCode { get; set; } = "";
    }
}
